html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
li,
button,
input,
textarea,
select,
cite,
blockquote {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: inherit;
  font-size: 100%;
  line-height: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: inline-block;
}

button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

input,
textarea {
  border: none;
}

body {
  background-color: #fff;
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding: 140px 0;
}
.section__title {
  position: relative;
  font-size: 48px;
  line-height: 1.3;
  margin-bottom: 60px;
  display: inline-block;
  font-weight: 700;
}
.section__title::before {
  position: absolute;
  content: "";
  display: inline-block;
  background-color: rgba(0, 38, 29, 0.3);
  width: 100%;
  height: 15px;
  bottom: 4px;
}

.button {
  min-width: 140px;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  padding: 12px 24px;
  color: #ffffff;
  background-color: #005541;
  outline: transparent;
  transition: color 500ms ease-in 250ms, background-color 500ms ease-in, outline 500ms ease-in, box-shadow 500ms ease-in;
}
.button:focus {
  box-shadow: 0px 0px 0px 3px rgba(0, 85, 65, 0.5);
}
.button:hover {
  color: #005541;
  background-color: #ffffff;
  outline: 1px solid #005541;
}
.button:active {
  color: #ffffff;
  background-color: #005541;
  box-shadow: inset 0px 7px 4px rgba(0, 0, 0, 0.25);
}

.header {
  background-color: #00261D;
  padding: 70px 0;
}
.header__nav {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
}
.menu__item:not(:last-child) {
  margin-right: 30px;
}
.menu__link {
  color: #fff;
  border: 1px solid transparent;
  padding-bottom: 2px;
}
.menu__link:hover {
  border-bottom-color: #fff;
}
.menu__link:focus {
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.menu__link:active {
  opacity: 0.7;
}

.hero {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}
.hero::before {
  position: absolute;
  content: "";
  background-color: rgba(0, 38, 29, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.hero__content {
  height: calc(100vh - 196px);
  display: flex;
  align-items: center;
}
.hero__title {
  font-weight: 400;
  line-height: 1.3;
  font-size: 40px;
  color: #fff;
  max-width: 850px;
}
.hero__subtitle {
  font-weight: 700;
  line-height: 117px;
  font-size: 90px;
  display: block;
}

.about__text:not(:last-child) {
  margin-bottom: 30px;
}

.skills__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skills__list {
  width: 55%;
}
.skills__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skills__item:not(:last-child) {
  margin-bottom: 86px;
}
.skills__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
}
.skills__row {
  height: 32px;
  background-color: #c5c5c5;
  width: 90%;
}
.skills__row-dynamic {
  height: 100%;
  background-color: #005541;
}

.service__list {
  display: flex;
  justify-content: space-between;
}
.service__item {
  max-width: 330px;
  width: 100%;
  position: relative;
  padding-top: 90px;
}
.service__item:before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
}
.service__item--html:before {
  background-image: url("../images/html.svg");
}
.service__item--wp:before {
  background-image: url("../images/wp.svg");
}
.service__item--support:before {
  background-image: url("../images/support.svg");
}
.service__subtitle {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.3;
  margin-bottom: 25px;
}
.service__text {
  font-size: 16px;
}

.portfolio {
  text-align: center;
  padding-top: 0;
}
.portfolio__list {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.portfolio__item:not(:last-child) {
  margin-right: 45px;
}
.portfolio__btn {
  font-weight: 600;
  font-size: 24px;
  border-bottom: 1px solid transparent;
  border-radius: 4px;
  transition: border-color 0.2s, outline 0.5s, color 0.3s;
}
.portfolio__btn:hover {
  border-color: #005541;
}
.portfolio__btn:focus {
  outline: 2px solid rgba(0, 85, 65, 0.5);
}
.portfolio__btn:active {
  color: #005541;
}
.portfolio__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 45px;
  margin-bottom: 60px;
}

.contacts__box {
  display: flex;
  justify-content: space-between;
}

.form {
  display: block;
  width: 50%;
}
.form__top {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.form__line {
  display: block;
  width: 47%;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  margin-bottom: 30px;
}
.form__line--comment {
  width: 100%;
}
.form__field {
  width: 100%;
  background-color: #f6f6f8;
  margin-top: 10px;
  padding: 13px 15px;
  outline: transparent;
  transition: box-shadow 200ms linear;
}
.form__field::placeholder {
  font-size: 14px;
  line-height: 130%;
  color: #9c9cab;
  transition: color 300ms ease;
}
.form__field:focus {
  box-shadow: 0px 0px 0px 3px rgba(0, 85, 65, 0.5);
}
.form__field:hover::placeholder {
  color: #000000;
}
.form__field--comment {
  resize: vertical;
  min-height: 115px;
  max-height: 225px;
}/*# sourceMappingURL=main.css.map */