:root {
  --main-background: #00261d;
  --main-title: #fff;
  --main-textcolor: #333333;
  --accent-second-body: #f6f6f8;
}
/* -----------------------------Start - Резет */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
li,
button,
input,
textarea,
select,
cite,
blockquote {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: inherit;
  font-size: 100%;
  line-height: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: inline-block;
}

button {
  background: transparent;
  border: none;
  padding: 0;
}

input,
textarea {
  border: none;
}
/* -----------------------------End - Резет */

body {
  background-color: #fff;
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding: 140px 0;
}

.header {
  background-color: var(--main-background);
  padding: 70px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
}

.item:not(:last-child) {
  margin-right: 30px;
}

.menu-link {
  color: var(--main-title);
  border: 1px solid transparent;
  padding-bottom: 2px;
}

.menu-link:hover {
  border-bottom-color: #fff;
}

.menu-link:focus {
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.menu-link:active {
  opacity: 0.7;
}

/* Герой */

h1 {
  margin: 0;
  font: inherit;
}

.hero {
  position: relative;
  /* background-image: linear-gradient(90deg, rgba(0,38,29,0.5), rgba(0,38,29,0.5)), url("../images/bg.jpg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.hero-content {
  /* position: relative; */
  height: calc(100vh - 196px);
  display: flex;
  align-items: center;
  /* z-index: 999; */
}

.hero-title {
  font-weight: 400;
  line-height: 1.3;
  font-size: 40px;
  color: var(--main-title);
  max-width: 850px;
}

.hero::before {
  position: absolute;
  content: "";
  background-color: rgba(0, 38, 29, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.sub-title {
  font-weight: 700;
  line-height: 117px;
  font-size: 90px;
  display: block;
}

.title {
  position: relative;
  font-size: 48px;
  line-height: 1.3;
  margin-bottom: 60px;
  display: inline-block;
}

.title::before {
  position: absolute;
  content: "";
  display: inline-block;
  background-color: rgba(0, 38, 29, 0.3);
  width: 100%;
  height: 15px;
  bottom: 4px;
}

.text:not(:last-child) {
  margin-bottom: 30px;
}

.row {
  height: 32px;
  background-color: #c5c5c5;
  width: 90%;
}

.row-dinamic {
  height: 100%;
  background-color: #005541;
}

.flex-skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills-level {
  width: 55%;
}

.skills-level > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills-level > li:not(:last-child) {
  margin-bottom: 86px;
}

.skills-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
}

.main-box {
  display: flex;
  justify-content: space-between;
}

.form {
  display: block;
  width: 50%;
}
.form-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.line {
  display: block;
  width: 47%;

  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  margin-bottom: 30px;
}

.line-comment {
  width: 100%;
}

.field {
  width: 100%;
  background-color: #f6f6f8;
  margin-top: 10px;
  padding: 13px 15px;
  outline: transparent;
  transition: box-shadow 200ms linear;
}

.field:focus {
  box-shadow: 0px 0px 0px 3px rgba(0, 85, 65, 0.5);
}

.field::placeholder {
  font-size: 14px;
  line-height: 130%;

  color: #9c9cab;
  transition: color 300ms ease;
}

.field:hover::placeholder {
  color: #000000;
}

.comment {
  resize: vertical;
  min-height: 115px;
  max-height: 225px;
}

.button {
  min-width: 140px;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  padding: 12px 24px;

  color: #ffffff;
  background-color: #005541;

  outline: transparent;
  transition: color 500ms ease-in 250ms, background-color 500ms ease-in,
    border 500ms ease-in, box-shadow 500ms ease-in;
}

.button:focus {
  box-shadow: 0px 0px 0px 3px rgba(0, 85, 65, 0.5);
}

.button:hover {
  color: #005541;
  background-color: #ffffff;
  border: 1px solid #005541;
}

.button:active {
  color: #ffffff;
  background-color: #005541;
  box-shadow: inset 0px 7px 4px rgba(0, 0, 0, 0.25);
}
